---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: audiobookshelf
spec:
  parentRefs:
    - name: private-gateway
      namespace: envoy-gateway-system
  hostnames:
    - audiobookshelf.${EXTERNAL_DOMAIN}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: audiobookshelf
          port: 80
          weight: 1
---
# Must create a separate route for envoy to upgrade the connection
# Linking the route to the backendTrafficPolicy causes the upgrade to fail
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: audiobookshelf-ws
spec:
  parentRefs:
    - name: private-gateway
      namespace: envoy-gateway-system
  hostnames:
    - audiobookshelf.${EXTERNAL_DOMAIN}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /audiobookshelf/socket.io
      timeouts:
        request: 0s
      backendRefs:
        - name: audiobookshelf
          port: 80
          weight: 1
---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: BackendTrafficPolicy
metadata:
  name: audiobookshelf
spec:
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      name: audiobookshelf
  requestBuffer:
    limit: 4095Mi
  timeout:
    http:
      requestTimeout: 0s
      maxStreamDuration: 0s
  httpUpgrade:
    - type: "websocket"
