---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      containers:
        - name: jellyfin
          image: jellyfin/jellyfin:10.11.5
          environment:
            JELLYFIN_PublishedServerUrl: https://jellyfin.cleroux.dev
            TZ: America/Toronto
          ports:
            - name: jellyfin
              containerPort: 8096
          volumeMounts:
            - name: config
              mountPath: /config
            - name: cache
              mountPath: /cache
            - name: media
              mountPath: /media
            - mountPath: /dev/dri
              name: device-dri
          securityContext:
            privileged: true # Container must run as privileged inside of the pod, required for hardware acceleration
            supplementalGroups: [303] # render group
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: jellyfin-config
        - name: cache
          persistentVolumeClaim:
            claimName: jellyfin-cache
        - name: device-dri
          hostPath:
            path: /dev/dri
        - name: media
          nfs:
            server: totoro.lan
            path: /Media
            readOnly: true
