---
apiVersion: v1
kind: Namespace
metadata:
  name: paperless-ngx
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: paperless
  namespace: flux-system
spec:
  targetNamespace: paperless-ngx
  serviceAccountName: flux-apps
  interval: 1m
  retryInterval: 30s
  timeout: 30s
  prune: true
  wait: true
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  sourceRef:
    kind: GitRepository
    name: flux-apps
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: flux-runtime-info
  path: components/paperless-ngx
